<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DezService</title>
  <link rel="stylesheet" href="static/css/bundle.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <img src="static/images/logo.png" alt="logo">
        <ul class="navbar">
          <li class="link">О нас</li>
          <li class="link">Услуги</li>
          <li class="link">Отзывы</li>
          <li class="link">Контакты</li>
          <li class="link">Прайс</li>
        </ul>
        <div class="right cen">
          <div class="nums">
            <a href="tel:+996508665666">+996 508 665 666</a>
            <a href="tel:+996500633733">+996 500 633 733</a>
            <a href="tel:+996552895800">+996 552 895 800</a>
          </div>
          <div class="contacts">
            <a href="https://wa.me/996508665666" class="whats"><img src="static/images/whatsapp.png" alt="whatsapp"></a>
            <a href="http://t.me/+996508665666" class="telegram"><img src="static/images/telegram.png" alt="telegram"></a>
            <a href="https://www.instagram.com/dezservice.kg/?hl=ru" class="insta"><img src="static/images/instagram.png" alt="instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="container">
      <div class="title">
        <h1>Избавим вас <br>от вредителей <br>за 24 часа</h1>
        <p>Услуги по дезинфекции, <br>дезинсекции, дератизации <br> в г. Бишкек</p>
      </div>
      <span class="button btn">Получить бесплатную консультацию</span>
    </div>
  </div>
  <div class="about" id="about">
    <div class="container">
      <div class="title">
        <h2>О нас</h2>
        <p>7 причин, почему вам <br>стоит доверять борьбу <br>с вредителями именно нам</p>
      </div>
      <div class="about__inner">
        <div class="item">
          <div class="item__img">
            <img src="static/images/about-1.png" alt="">
          </div>
          <div class="item__description">
            <h5>Доступные цены</h5>
          </div>
        </div>
        <div class="item">
          <div class="item__img">
            <img src="static/images/about-2.png" alt="">
          </div>
          <div class="item__description">
            <h5>Скорость обслуживания</h5>
            <p>Оставив заявку с вами свяжутся в течение 5 минут, проконсультируют и согласуют с вами удобное время приезда специалиста</p>
          </div>
        </div>
        <div class="item">
          <div class="item__img">
            <img src="static/images/about-3.png" alt="">
          </div>
          <div class="item__description">
            <h5>Бесплатная консультация</h5>
          </div>
        </div>
        <div class="item">
          <div class="item__img">
            <img src="static/images/about-4.png" alt="">
          </div>
          <div class="item__description">
            <h5>Препараты</h5>
            <p>Все препараты прошли несколько этапов испытаний</p>
          </div>
        </div>
        <div class="item">
          <div class="item__img">
            <img src="static/images/about-5.png" alt="">
          </div>
          <div class="item__description">
            <h5>Гарантия результата 6 месяцев</h5>
          </div>
        </div>
        <div class="item">
          <div class="item__img">
            <img src="static/images/about-6.png" alt="">
          </div>
          <div class="item__description">
            <h5>Специалисты с опытом не менее 3-х лет</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order" id="order">
    <div class="container">
      <div class="title">
        <h2>Мы предлагаем</h2>
      </div>
      <div class="order__inner">
        <div class="item" style="background-image: url(static/images/order-1.svg)">
          <h3>01</h3>
          <h4>Дератизация</h4>
          <p>Комплекс мер, направленный на уничтожение грызунов и профилактику их дальнейшего появления.</p>
        </div>
        <div class="item" style="background-image: url(static/images/order-2.svg)">
          <h3>02</h3>
          <h4>Дератизация</h4>
          <p>Уничтожение возбудителей инфекционных болезней в окружающей человека среде спец. средствами.</p>
        </div>
        <div class="item last" style="background-image: url(static/images/order-3.svg)">
          <h3>03</h3>
          <h4>Дезинсекция</h4>
          <p>Процедура по уничтожению тараканов, <br>муравьев, мух, комаров, постельных клопов и т.д.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="trust" id="trust">
    <div class="container">
      <div class="title">
        <h2>Нам доверяют</h2>
      </div>
      <div class="trust__inner">
        <img src="static/images/trust1.png" alt="logo">
        <img src="static/images/trust2.png" alt="logo">
        <img src="static/images/trust3.png" alt="logo">
        <img src="static/images/trust4.png" alt="logo">
        <img src="static/images/trust5.png" alt="logo">
        <img src="static/images/trust6.png" alt="logo">
        <img src="static/images/trust7.png" alt="logo">
        <img src="static/images/trust8.png" alt="logo">
        <img src="static/images/trust9.png" alt="logo">
      </div>
    </div>
  </div>
  <div class="cost" id="cost">
    <div class="container">
      <div class="title">
        <h2>Стоимость наших услуг</h2>
      </div>
      <div class="cost__inner">
        <div class="item">
          <img src="static/images/cost1.png" alt="cost">
          <p>Для жилых квартир стоимость зависит от количества комнат</p>
        </div>
        <div class="item">
          <img src="static/images/cost2.png" alt="cost">
          <p>Для коммерческих помещений стоимость зависит от квадратуры и объема</p>
        </div>
      </div>
      <div class="btn">
        <span class="button btn">Расчитать стоимость</span>
      </div>
    </div>
  </div>
  <div class="contact" id="contact">
    <div class="container">
      <div class="contact__inner">
        <div class="text">
          <h2>Свяжитесь с нами</h2>
          <p>г. Бишкек Токтогула 87а /Абдрахманова тц.Мото</p>
          <div class="right">
          <div class="nums">
            <a href="tel:+996508665666">+996 508 665 666</a>
            <a href="tel:+996500633733">+996 500 633 733</a>
            <a href="tel:+996552895800">+996 552 895 800</a>
          </div>
          <div class="contacts">
            <a href="https://wa.me/996508665666" class="whats"><img src="static/images/whatsapp.png" alt="whatsapp"></a>
            <a href="http://t.me/+996508665666" class="telegram"><img src="static/images/telegram.png" alt="telegram"></a>
            <a href="https://www.instagram.com/dezservice.kg/?hl=ru" class="insta"><img src="static/images/instagram.png" alt="instagram"></a>
          </div>
        </div>
        </div>
        <form action="/form" method="post">
          <label for="name">
            <h5>Ваше имя</h5>
            <input type="text" required id="name" name="name">
          </label>
          <label for="phoneNum">
            <h5>Ваш номер телефона</h5>
            <input type="text" required id="phoneNum" name="phoneNum">
          </label>
          <input type="submit" formmethod="post" class="button">
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<script src="static/js/app.js"></script>
</html>